<!doctype html>
<html lang="en">

<head>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
  <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <title>{% block title %}{% endblock %}</title>

</head>

<body>
  <div class="navbar">
    <ul class="navbar">
      <li><a href="/"><img src="/static/assets/icons/ph-d-128.png"></a></li>
      <li><form action="/search-my-history" method="GET">
        <input type="search" placeholder="search your team items by keyword" style="width:256px">
        <li><input type="submit" name="search-submit" value="Search"></li>
      </form></li>

      <li><div>
        <form action="/logout" method="POST">
            <input type='submit' id='logout-submission' value='Log Out'>
        </form></div></li>

<!--         <li><a href="http://localhost:5000/my-action-board">
            <button type="button"> /////////'s Action Board</button></a></li> -->
<!--         <li><a href="http://localhost:5000/logout">
            <button type="button">Logout</button></a></li>    --> 
    </ul>
  </div>

<div class="container">
  <div>{{ session }}</div> <!-- TEMPORARY!!!! -->

  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
        <!-- Bootstrap classes to format flash message -->
        <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  {% block content %}

  <!-- MAIN
        CONTENT
          ON 
            HTML 
              PAGE
                GOES
                  HERE-->

  {% endblock %}

</div> <!-- Close div container -->

</body>
</html>