<!doctype html>
<html>
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>

    <link rel="stylesheet" type="text/css" href="static/styles.css">

    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            }
    </style>
</head>

<body>
<div class="temp-navbar">
    <ul>
        <li>SEARCH FIELD HERE</li>
        <li><a href="http://localhost:5000/dashboard">
            <button type="button">Dashboard</button></a></li>
        <li><div>
              <form action="/logout" method="POST">
                <input type='submit' id='logout-submission' value='Log Out'>
              </form>
            </div></li>
<!--         <li><a href="http://localhost:5000/my-action-board">
            <button type="button"> /////////'s Action Board</button></a></li> -->
<!--         <li><a href="http://localhost:5000/logout">
            <button type="button">Logout</button></a></li>    --> 
    <ul>

</div>


<!-- DIV FROM SHOPPINGSITE LAB, BASE.HTML NAVBAR -->
<!--     <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <img src="/static/img/ubermelon-logo.png">
                <a class="navbar-brand" href="/">Ubermelon</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/cart">
                            <img class="melon-cart"
                                 src="/static/img/watermelon.png">
                            My Melon Cart
                        </a>
                    </li>
                    <li><a href="/login">Log In</a></li>
                </ul>
            </div>

        </div>
    </div> -->

    <div class="container">
        <!-- Show flashed messages stuff...from shopping site lab-->

        <!--what does with mean here??????-->   


        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
              <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        {% endwith %}

        <!-- Displays on each page while I am working important session info -->
        {% if session.get('user_id') %} 
<!--             <a href="http://localhost:5000/users/{{ session['user_id'] }}/dashboard">/users/{u_id}/dashboard</a> -->
            <a href="http://localhost:5000/dashboard">/dashboard</a>
            <div>Logged in</div>
        {% else %}
            <div>NOT logged in</div>
        {% endif %}
        <div>{{ session }}</div> <!-- all session info saved -->
        
        <div>
            <div>
                <form action="/users/temp/logout" method="POST">
                <input type='submit' id='form-submission' value='Log Out'>
                </form>
            </div>
        
        </div>

        {% block content %}
        
        <!-- This is where the main content goes. -->

        {% endblock %}

    </div>




</body>
</html>