{% extends 'base.html' %}

{% block content %}

<!-- how do we validate for login before the page loads? how do we make the url change to display the unique user, not users/login...the last route used...? -->
<h1>Dashboard</h1>
<p>This is the dashboard</p>


<div>
  <form action="/logout" method="POST">
  <input type='submit' id='logout-submission' value='Log Out'>
  </form>
</div>



<div>
  {% if teams_list %}

    <h3>Your Teams</h3>
    <div id="joined-teams">
    {% for team in teams_list %}
      <div> 
        <form action="/view-team" method="GET">
          <input type="hidden" name="team" value="{{ team.team_id }}">
          <input type="submit" value="{{ team.name }}">
          <p class="desc">{{ team.desc }}</p>
        </form>
      </div>   
    {% endfor %}
    </div>

  {% endif %}
</div>
<div>
  {% if invites_list %}
  
    <h3>Team Invitations</h3>
      {% for invite in invites_list %}
        <div> 
          <h4>{{ invite.name }}</h4>
          <p class="desc">{{ invite.desc }}</p>
          <form action="/join-team" method="POST">
            <input type='hidden' name="team" value="{{ invite.team_id }}">
            <input type='submit' id='join-team' value='Accept Team Invite'>
          </form>
          <form action="/ignore-team-invite" method="POST">
            <input type='hidden' name="team" value="{{ invite.team_id }}">
            <input type='submit' id='ignore-team' value='Ignore Invite'>
          </form>
        </div>
      {% endfor %}
  {% endif %}
</div>

<div>
  <p>Make a new team to start a board and add projects!</p>
  <p>THIS MESSAGE SHOULD BE CONDITIONAL, ON WHETHER THEY HAVE ANY TEAMS</p>
  <!-- <form action="/new-team" method="GET">
    <input type='submit' value='Make a new team'>
  </form> -->
  New team name: <input id="new-team-name" type="text">
  Description: <input id="new-team-desc" type="text">
  <input id="make-team" type='button' value='Make a new team'>

</div>

<script src="/static/dashboard.js"></script>

{% endblock %}