{% extends 'base.html' %}

{% block content %}

<!-- how do we validate for login before the page loads? how do we make the url change to display the unique user, not users/login...the last route used...? -->
<h1>Dashboard</h1>
<p>This is the dashboard</p>



<div>
    <p>Make a new team to start a board and add projects!</p>
    <form action="/users/{{ session['user_id'] }}/new-team" method="GET">
    <input type='submit' id='form-submission' value='Make a new team'>
    </form>
</div>


<div>
    <form action="/users/{{ session['user_id'] }}/logout" method="POST">
    <input type='submit' id='form-submission' value='Log Out'>
    </form>
</div>

<div>

</div>
{% endblock %}