{% extends 'base.html' %}

{% block title %}SamePage Dash{% endblock %}
{% block additionalheaders %}{% endblock %}

<!-- Server info passed:
     - teams_list
     - invites_list
     - displayname
 -->

{% block content %}

  {% block navbarItems %}
  <!--     <li><a href="http://localhost:5000/actions-board">
        <button type="button">Actions Board</button></a></li> -->
  {% endblock %}

<!-- how do we validate for login before the page loads? how do we make the 
  url change to display the unique user, not users/login...
  the last route used...? -->
<h1>{{ displayname }}'s Dashboard</h1>
<div class="tutorial">
  <label class="checkbox-inline">
    <input id="tutorial-hidden-input" type="hidden" name="new_user" value="{{ session.get('new_user') }}">
    <input type="checkbox" data-toggle="toggle" data-size="small" data-on="Tutorial"> Tutorial
  </label>
  <!-- need to set as disabled or checked, based on if new user...and have consequences for toggle -->
</div>
<div>
  {% if teams_list %}

    <h3>Your Teams</h3>
    <div id="joined-teams">
    {% for team in teams_list %}
      <div 
      style="display:inline-block;width:200px;height:100px;vertical-align:top"> 
      <!-- Fix later: put in CSS file -->
        <form action="/view-team" method="POST">
          <input type="hidden" name="team" value="{{ team.team_id }}">
          <input type="submit" value="{{ team.name }}">
          <a class="editing-glyph" href="#"><span class="glyphicon glyphicon-edit"></span></a>
<!--           <a href="#"><span class="glyphicon glyphicon-trash"></span></a> -->
          {% if team.desc %}
          <p class="desc">{{ team.desc }}</p>
          {% endif %}
        </form>
      </div>   
    {% endfor %}
    </div> <!-- closes joined-teams -->

  {% endif %}
</div>
<div>
  <h4>Team Invitations</h4>

    {% if not invites_list%}

    <p>No pending team invites.</P>
      <p>See your list of<a href="/ignored-teams"> ignored team invites.</p></a>
    {% else %}
      
      {% for invite in invites_list %}
        
        <div
        style="display:inline-block;width:200px;height:200px;vertical-align:top"> 

          <h5>{{ invite.name }}</h5>
          <p class="desc">{{ invite.desc }}</p>
          <form action="/team-invitation" method="POST">
            <input type='hidden' name="team" value="{{ invite.team_id }}">
            <input type='hidden' name="is_joining" value="True">
            <input type='submit' id='join-team' value='Accept Team Invite'>
          </form>
          
          <form action="/team-invitation" method="POST">
            <input type='hidden' name="team" value="{{ invite.team_id }}">
            <input type='hidden' name="is_joining" value="False">
            <input type='submit' id='ignore-team' value='Ignore Invite'>
          </form>

        </div>
      {% endfor %}

    {% endif %}

</div>

<div>
  <h4>Make a new team</h4>
  <p>make helper info like a mouseover or flash to encourage people to do 
    this and explain it is how they make boardsssssssssssssss</p>
      <p>PENDING: THIS FORM SHOULD BE HIDDEN UNTIL A BUTTON IS PUSHED, THEN 
        THE FORM SHOULD BE IN A FLOATING POP UP, AND NOT SUBMIT UNTIL AT 
        LEAST THE NAME IS TYPED</p>
        <p>Let's make a new team. You can have different boards in your team, 
          so don't worry about those yet. Just pick a team name based on 
          whether this is for your work, or perhaps for your own "home team." </p>
  <div id="show-new-team">
    <input id="show-make-team" type='button' value='Make a new team'>
  </div>

  <br>

  <div id="new-team" class="hidden">
    New team name: <input id="new-team-name" type="text" 
                    placeholder='type name here'>
    Description: <textarea id="new-team-desc" name="description" 
                  placeholder="optional"></textarea>
    <input id="trigger-make-team" type='button' value='Create this team'>
  </div>
</div>



<!-- link to js below here -->
<script src="/static/scripts/dashboard.js"></script>

{% endblock %}