{% extends 'base.html' %}

{% block content %}

<h1>Welcome to SamePage</h1>

<div>
<h4>Want to join SamePage?</h4>
<p class="reg-page">Sign up with just an email and password</p>
  <form action='/register' method='POST' id='enter-site-form'>
    <input type='text' name='email' placeholder='email address' 
           id='email-form-entry' required>
    <input type='password' name='pw' placeholder='password' 
           id='pw-form-entry' required>
    <div id='submit-input'>
    <input type='submit' id='form-submission' value='Sign Up!'>
    <p>It would be nice to validate the email or re-enter it, and 
        same with password. <br>But we can't have nice things.</p>
    </div>
  </form>
</div>
<h4 class="reg-page">Already have an account? 
                   <a href="/login" method='GET'>Log In</a></h4>
                   <!-- Would prefer login to just be in header -->
<script>

// "use strict";

// $('#login-link').on('click', function (evt){
//     evt.preventDefault();
//     let elements = document.querySelectorAll(".reg-page")
//     for (let element of elements) {
//         element.style.visibility = "hidden";
//     }
//     $("h4").html("Log In to SamePage");
//     document.getElementById('enter-site-form').action = '/users/login';
//     // How do you change the url so that it looks different, but stay on same page?
// })

</script>


{% endblock %}