{% extends 'base.html' %}

{% block title %}SamePage Login{% endblock %}


{% block content %}
<!-- u_choice passes in route; either "log-in" or "sign-up" -->
<!-- poster="screenshot.jpg"  -->

<div id="hidden-u-choice" data-choice="{{ u_choice }}" hidden></div>


<div id="carousel-landing" class="carousel slide" data-ride="carousel">
  
  <ol class="carousel-indicators">
    <li data-target="#carousel-landing" data-slide-to="0"></li>
    <li data-target="#carousel-landing" data-slide-to="1"></li>
    <li data-target="#carousel-landing" data-slide-to="2"></li>
    <li data-target="#carousel-landing" data-slide-to="3"></li>
    <li data-target="#carousel-landing" data-slide-to="4"></li>
    <li data-target="#carousel-landing" data-slide-to="5"></li>
    <li data-target="#carousel-landing" data-slide-to="6"></li>
    <li data-target="#carousel-landing" data-slide-to="7"></li>
    <li data-target="#carousel-landing" data-slide-to="8"></li>
    <li data-target="#carousel-landing" data-slide-to="9"></li>
    <li data-target="#carousel-landing" data-slide-to="10"></li>

  </ol>
<!--  REMOVED ACTIVE CLASS FROM THE FIRST item div AND indicators -->
  <!-- Div section: Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

      <div class="carousel-item item">
        <!-- img class below sets display as block, width as 100% -->
        <img class="d-block w-100" alt="" data-color="green"
             src="static/assets/img/c1-new-people-coffee-tea-meeting.jpg">

          <div class="carousel-caption" d-none d-md-block>
              <h1 giant-h>Work together</h1>
          </div> <!-- closes carousel-caption -->

      </div> <!-- closes <div class="carousel-item active"> -->

      <div class="carousel-item item">
        <img class="d-block w-100" alt="" 
             src="static/assets/img/c2-eddy-klaus-33079.jpg"> 
          <div class="carousel-caption" d-none d-md-block>
            <h1>Tackle projects</h1>
          </div> 
      </div> <!-- closes <div class="carousel-item"> -->

      <div class="carousel-item item">
        <img class="d-block w-100" alt="" 
             src="static/assets/img/c3-sweet-ice-cream-photography-480600.jpg"> 
          <div class="carousel-caption" d-none d-md-block>
            <h1>Plan events</h1>
          </div> 
      </div> <!-- closes <div class="carousel-item"> -->

      <div class="carousel-item item">
        <img class="d-block w-100" alt=""
             src="static/assets/img/c4-96074.jpg">
          <div class="carousel-caption" d-none d-md-block>
            <h1>Take trips</h1>
          </div>  
      </div> <!-- closes <div class="carousel-item"> -->

      <div class="carousel-item item">
        <img class="d-block w-100" alt=""
             src="static/assets/img/c5-photo-fb2da963cd6d-2.jpg"> 
          <div class="carousel-caption" d-none d-md-block>
            <h1>Keep track</h1>
          </div>  
      </div> <!-- closes <div class="carousel-item"> -->

      <div class="carousel-item item">
        <img class="d-block w-100" alt=""
             src="static/assets/img/c6-saksham-gangwar-159648.jpg"> 
          <div class="carousel-caption" d-none d-md-block>
            <h1>Assemble associates</h1>
          </div>  
      </div> <!-- closes <div class="carousel-item"> -->

      <div class="carousel-item item">
        <img class="d-block w-100" alt=""
             src="static/assets/img/c7-hai-phung-247271.jpg"> 
          <div class="carousel-caption" d-none d-md-block>
            <h1>Work better</h1>
          </div>  
      </div> <!-- closes <div class="carousel-item"> -->

      <div class="carousel-item item">
        <img class="d-block w-100" alt=""
             src="static/assets/img/c8-simple-322427.jpg"> 
          <div class="carousel-caption" d-none d-md-block>
            <h1>Organize home</h1>
          </div>  
      </div> <!-- closes <div class="carousel-item"> -->

      <div class="carousel-item item">
        <img class="d-block w-100" alt=""
             src="static/assets/img/c9-matt-nelson-259365.jpg"> 
          <div class="carousel-caption" d-none d-md-block>
            <h1>Take care of business</h1>
          </div> 
      </div> <!-- closes <div class="carousel-item"> -->

      <div class="carousel-item item">
        <img class="d-block w-100" alt=""
             src="static/assets/img/c10-hanny-naibaho-388579.jpg"> 
          <div class="carousel-caption" d-none d-md-block>
            <h1>Share good ideas</h1>
          </div> 
      </div> <!-- closes <div class="carousel-item"> -->

      <div class="carousel-item item">
        <img class="d-block w-100" alt=""
             src="static/assets/img/c11-neonbrand-423328.jpg"> 
          <div class="carousel-caption" d-none d-md-block>
            <h1>Rally the team</h1>
          </div> 
      </div> <!-- closes <div class="carousel-item"> -->

  </div> <!-- closes carousel-inner...Which is Wrapper for slides-->

  <!-- Controls -->
  <!-- You can href to an element?? Wild! -->

<!--   <a class="left carousel-control" href="#carousel-landing" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-landing" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->



</div> <!-- Closes carousel-landing /  carousel-slide div -->


  
<div id="sign-in-floating-modal" 
     class="col-xs-offset-2 col-xs-8 col-md-offset-7 col-md-5 col-lg-offset-8 col-lg-4">

  <div class="floating-modal-frame"> 
      
      <!-- MODAL WINDOW CONTENT -->
      <div class="floating-modal-content"> <!-- form appends to modal window content -->

        <div id="register-new-user-form">
          <h1>Register</h1>
          <div>
            <form action='/register' method='POST' id='register-form'>
              <h5 class="reg-page">Sign up with email and password</h5>
              <input type='text' name='email' placeholder='email address' 
                     size="40" style="display:block" required>
              <input type='password' name='pw' placeholder='password' size="40" style="display:block" required>
              <h5 class="reg-page">Choose a display name</h5>
              <input type='text' name='displayname' placeholder='your name' 
                size="30" maxlength="30" style="display:block" required>
              <div id='submit-register'>
                <input type='submit' class='input-btn-sign-in' id='register-submission' value='Sign Up'>
              </div>
            </form>
          </div>
<!--             <form action="/sign-in" method='GET'>
              <h5>Already have an account? </h5>
                <input type="hidden" name="button-click-choice" value="log-in">
                <input type="submit" class="input-button" value="Log In"></form> -->
        </div>


        <div id="log-in-form">
          <h1>Login</h1>
          <div>
            <form action='/login' method='POST' id='login-form'>
              <input type='text' name='email' size="40" placeholder='email address' required>
              <input type='password' name='pw' size="40" placeholder='password' required>
              <div id='submit-login'>
                <input type='submit' class='input-btn-sign-in' id='login-submission' value='Log In'>
              </div>
            </form>
<!--         <form action="/sign-in" method='GET'>
              <h4>Need to register? </h4>
              <input type="hidden" name="button-click-choice" value="sign-up">
              <input type="submit" class="btn btn-lg btn-primary-outline" value="Sign Up"></form> -->

          </div>
        <h6><a href="/sign-in/password-recovery">Forgot your password?</a></h6>
      </div>
    
    </div> <!-- Close "modal-content" -->
  </div> <!-- Close "new-board-modal" -->
</div><!-- class="col-md-4" -->








    








<!-- **************************** SCRIPTS **************************** --> 

<script src="/static/scripts/sign-in.js"></script>

{% endblock %}
