{% extends 'base.html' %}

{% block title %}SamePage Login{% endblock %}
{% block additionalheaders %}{% endblock %}

{% block content %}

<!-- poster="screenshot.jpg"  -->
<div class="container">

  <div id="home-registration-form">
  <h4>Want to join SamePage?</h4>

    <form action='/register' method='POST' id='enter-site-form'>
      <p class="reg-page">Sign up with email and password</p>
      <input type='text' name='email' placeholder='email address' 
             id='email-form-entry' size="50" style="display:block" required>
      <input type='password' name='pw' placeholder='password' 
             id='pw-form-entry' size="30" style="display:block" required>
      <p class="reg-page">Type a display name</p>
      <input type='text' name='displayname' placeholder='your name' 
        size="30" maxlength="30" style="display:block" required>
      <div id='submit-input'>
        <input type='submit' id='form-submission' value='Sign Up!'>
        <p>It would be nice to validate the email or re-enter it, and 
            same with password. <br>But we can't have nice things.</p>
      </div>
    </form>
  </div>
<!--   <h4 class="reg-page">Already have an account? 
      <a href="/sign-in" method='GET'>Log In</a></h4> -->

</div> <!-- closes container div -->

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Login</h1>
      <div class="col-md-4">
        <form action='/login' method='POST' id='enter-site-form'>
          <input type='text' name='email' placeholder='email address' 
                 id='email-form-entry' required>
          <input type='password' name='pw' placeholder='password' 
                 id='pw-form-entry' required>
          <div id='submit-input'>
          <input type='submit' id='form-submission' value='Log In'>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<h4>Log In to SamePage</h4>


<h6><a href="/sign-in/password-recovery">Forgot your password?</a></h6>


{% endblock %}
