{% extends 'base.html' %}

{% block title %}My SamePage Teams{% endblock %}

{% block content %}

<!-- ************************** DATA FROM SERVER ************************** -->
  <!-- team    ..... an object
  Refer to model to see Team attributes and relationships-->

<!-- *************************** MAIN HTML BODY *************************** --> 

<p>{{ team.t_id }}</P>

<h1>Team home: {{ team.name }}</h1>
{% if team.desc %}
<h5>{{ team.desc }}</h5>
{% endif %}

<br>
<h3>Your Boards</h3>

{% if team.boards %}

  <div id="all-team-boards">
    {% for board in team.boards %}
      
      <!-- BOARD DIV: HAS TWO CHILD NODES:
           show-projects-... & make-new-project... -->
      <div class="board" id="{{ board.b_id }}">
        <button type="button" class="board-button" 
                data-board-id="{{ board.b_id }}">
                {{ board.name }}</button>
        <p class="description">{{ board.desc }}</p>
            
            <!-- Board button above is always visible; projects are
                 visible based on clicking that board button. Then all other 
                 show projects divs hid, and this one shows for the 
                 event.target / project button that was clicked. -->


        <!-- CHILD (A) FROM THE BOARD DIV -->
        <div class="show-projects"  
             id="show-projects-{{ board.b_id }}" hidden>
          
          {% if board.projects %}
            <div class="if-board-has-projects">
              
                {% for project in board.projects %}
                  <br>
                  <div class="project" 
                       id="{{ project.p_id }}" 
                       data-parent="{{board.b_id}}" 
                       data-phase="{{ project.phase_code }}"
                       data-claiming-user="{{ project.user_id }}"
                       data-updated="{{ project.updated }}">
                    <button type="button">{{ project.title }}</button>
                    <input type="hidden" name="notes" value="{{ project.notes }}">
                    {% if project.upvotes %}
                      <h5>+ {{ project.upvotes}}</h5>
                    {% endif %}
                    {% if project.user_id %}
                      <h5>{{ project.user.displayname }}</h5>
                    {% endif %}
                  </div> <!-- closes project div -->

                {% endfor %} <!-- ends the for each project loop -->

            </div> <!-- closes if-board-has-projects div -->
          
          {% else %} <!-- If there are no projects yet -->

            <p class="encouragement">No projects yet!</p>

          {% endif %} <!-- ends "if board.projects" check -->

        </div> <!-- closes show-projects div -->


        <!-- CHILD (B) FROM THE BOARD DIV -->

        <!-- Make a new project for the board: DIV & BUTTON -->
        <div class="make-new-project"
             id="make-new-project-{{board.b_id}}" 
             hidden>

          <button type="button" id="new-item-button" 
                  data-team-id="{{ team.t_id }}"
                  data-board-id="{{ board.b_id }}">
           Add a new to do ITEM</button>
          <button type="button" id="new-idea-button" 
                  data-team-id="{{ team.t_id }}"
                  data-board-id="{{ board.b_id }}">
           Add an IDEA to the board</button>


           <!-- Modal window, triggered by MAKE NEW IDEA button -->

            <div class="modal" id="new-idea-modal"> 
            <!-- This modal starts hidden, using css display:none -->
            
                <!-- MODAL WINDOW CONTENT -->
                <div class="modal-content">
                  <span id="idea-modal-close">&times;</span>
                  <!-- &times; makes a perfectly angled x. search "HTML entities" -->

                  <!-- MODAL FORM -->
                  <h3>Add a new idea to your team board</h3>
                  
                  <form action="/new-idea" method="POST" 
                        id="make-new-idea-form">
                    <span>New Idea:</span>
                    <input type="text" maxlength="300" title="new-idea-title" 
                           placeholder="What is your idea?" required><br>
                    <div>
                      <textarea form="make-new-idea-form" name="new-idea-notes"
                                placeholder="Want to enter any notes?">
                      </textarea>
                    </div>
                    <input type="hidden" name="team-id" 
                           value="{{ team.t_id }}">
                    <input type="hidden" name="board-id" 
                           value="{{ team.t_id }}">
                    <input type="submit" value="Submit" 
                           id="submit-new-idea-form">
                  </form> <!-- Close form -->

                </div> <!-- Close "modal-content" -->
            </div> <!-- Close "new-board-modal" -->



        </div> <!-- closes new project div -->
      
      </div> <!-- closes board div -->
    
    {% endfor %} <!-- ends the for each board loop -->
  
  </div> <!-- closes all-team-boards div -->

{% else %} <!-- If there are no boards yet -->

<p class="encouragement">No boards yet. Click below to make one!</p>

{% endif %} <!-- ends the if team.boards check -->

<br><br>

<!-- MAKE A NEW BOARD FOR THE TEAM: DIV & BUTTON -->
<div id="make-new-board">
  <button type="button" id="new-board-button" 
          data-team-id="{{ team.t_id }}">Add a new board</button>
</div>



<!-- ************************** HIDDEN MODALS ************************** -->
<!-- MODAL DIVS CREATED BY REFERENCING HTML/CSS TUTORIAL from W3Schools  -->

<!-- Modal window, triggered by Make New Board button -->
<!-- This modal starts hidden, using css display:none -->
<div class="modal" id="new-board-modal"> 

    <!-- MODAL WINDOW CONTENT -->
    <div class="modal-content">
      <span id="board-modal-close">&times;</span>
      <!-- &times; makes a perfectly angled x. search "HTML entities" -->

      <!-- MODAL FORM -->
      <h3>Make a new board</h3>
      
      <form action="/new-board" method="POST" 
            id="make-new-board-form">
        <span>Name your board:</span>
        <input type="text" name="new-board-name" placeholder="required"
               required><br>
        <span>Description:</span>
        <div>
          <textarea form="make-new-board-form" name="new-board-desc"
                    placeholder="optional"></textarea>
        </div>
        <input type="hidden" name="team-id" value="{{ team.t_id }}">
        <input type="submit" value="Submit" id="submit-new-board-form">
      
      </form> <!-- Close form -->

    </div> <!-- Close "modal-content" -->
</div> <!-- Close "new-board-modal" -->



<br>

<!-- **************************** SCRIPTS **************************** --> 

<!-- jQuery inherited from base.html -->
<script src="/static/scripts/team-main.js"></script>

{% endblock %}
