{% extends 'base.html' %}

<title>{% block title %}My Teams v1{% endblock %}</title>

{% block content %}

<!-- boards
  A list.
  Each item in the list is a dictionary, with these keys:
    b_id, name, desc, updated -->

<!-- team
  A dictionary.
  Each key in this dictionary is a different field name; they are:
    t_id, name, desc-->

<!-- TEMPORARY -->
{{ boards }}
<!-- TEMPORARY END -->


<h1>Team home: {{ team.name }}</h1>
<h5>{{ team.desc }}</h5>


{% if boards %}
  
  <h3>Your Boards</h3>
  <div id="all-team-boards">
    <div id="boards-loop">
    {% for board in boards %}
      <div class="board">
        <a href="/view-board">
          <button type="button" id="{{ board.b_id }}">  
            <!-- ID IS ON THE BUTTON -->
            {{ board.name }}</button>
        </a>
        <h5>{{ board.desc }}</h5>
        <input type="hidden" name="team" value="{{ team.t_id }}">
          <!-- IS THIS THE RIGHT WAY TO DO THIS? -->
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<br>

<div id="show-new-board">
  <input id="show-make-board" type='button' value='Make a new board'>
</div>



 <br>

<div id="new-board" class="hidden">

  <p>Call your board something to create a theme, such as "DIY Projects" or "Administration Tasks." 
  If you start to have a lot of boards, it might be a good idea to make a new team ;)</p>

  <br>
  <input id="team-id-info" type='hidden' name="team-id" value="{{ team.t_id }}">
  Board Name: <input id="new-board-name" type="text" 
                  placeholder='type name here'>
  Description: <textarea id="new-board-desc" name="description" 
                placeholder="optional"></textarea>
  <input id="trigger-make-board" type='button' value='Create this board!'>
</div>


<!-- link to js below here -->
<script src="/static/scripts/team-main-v1.js"></script>


{% endblock %}
